@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";
:root {
  --background: #0B0D14;
  --foreground: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Code", serif;
 
}
.color-primary{
  color: #0B0D14;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.bg-biru{
  background: #06b6d4;
}

.bg-ungu{
  background: #a855f7;
}

.animate-bounce {
  animation: bounce 10s infinite;
}

.bg-gradient-biru {
  background: radial-gradient(circle, rgb(6, 182, 212,.4) 0%, rgba(6,182,212,0) 70%);
}
.bg-gradient-ungu {
  background: radial-gradient(circle, rgba(168,85,247,.7) 0%, rgba(168,85,247,0) 70%);
}
